@import '~antd/dist/antd.css';
/* add css module styles here (optional) */

.flex {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

.flexRevert {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  flex-direction: row-reverse !important;
}

.grid {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important
}

.primary {
  margin: 5px;
  min-width: 125px;
  min-height: 35px;
  font-weight: 700 !important;
  color: #FFF !important;
  font-size: 1.2rem;
  border-radius: 25px !important;
  position: relative !important;
}

.primary:hover {
  opacity: 0.8 !important;
  border-color: initial !important;
  color: #FFF !important
}

.primary:focus {
  opacity: 0.8 !important;
  border-color: initial !important;
  color: #FFF !important
}

.primary .iconBtn {
  max-width: 31px !important;
  position: absolute !important;
  left: 1px !important;
  margin-right: 10px !important;
}

.primary .iconBtnRevert {
  max-width: 31px !important;
  position: absolute !important;
  right: 1px !important;
  margin-left: 10px !important;
}

.primary .ant-btn-loading-icon {
  position: absolute !important;
  top: 50% !important;
  margin-top: -0.5em !important;
}

.primary .iconBtn span {
  margin-left: 20px !important;
}

.primary .buttonName {
  margin-left: 20px !important;
}

.primary .buttonNameRevert {
  margin-right: 20px !important;
}
